body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.container {
	background-color: #1f2937;
	height: 20vh;
}

.top-navbar {
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: space-between;
	margin: 30px 200px;
	height: 50px;
}

h1 {
	color: #f9faf8;
	font-size: 48px;
}

a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}

.links {
	width: 100;
	display: flex;
	align-items: center;
	gap: 20px;
}

.icon {
	height: 120px;
}

.container-secondary {
	color: #f9faf8;
	padding-top: 50px;
	height: 50vh;
	background-color: #1f2937;
	display: flex;
	padding: 50px 200px;
}

.text-secondary {
	display: flex;
	flex-direction: column;
	width: 500px;
	overflow: hidden;
	word-wrap: break-word;
}

.container-secondary h2 {
	font-size: 36px;
	font-weight: 800;
	font-family: "Roboto", sans-serif;
}

.container-secondary p {
	font-family: "Poppins";
	font-size: 15px;
	color: #e5e7eb;
}

.signup-button {
	width: 100px;
	height: 50px;
	border-radius: 20px;
	background-color: #3882f6;
	border: none;
	color: white;
	font-family: "Poppins";
	font-weight: 800;
	font-size: 1rem;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px 0 200px;
}

.imgDummy {
	border-radius: 10px;
}
